.recommendation-container{
    width:100%;
    box-sizing: border-box;
    padding:10px 2px;
    /* border:1px solid gray; */
    display: flex;
    flex-direction: column;
    gap:10px;
    max-height:140vh;
    overflow-y: scroll;
}
.recommendation-container .recommendation-video{
    max-width:100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:55% 45%;
}
.recommendation-container .recommendation-video img{
    max-width:100%;
    box-sizing: border-box;
    padding:2px 5px;
}
.recommendation-container .recommendation-video p{
    font-size:14px;
}
.recommendation-container .recommendation-video p:nth-child(1){
    font-weight: bold;
    padding-bottom:5px;
}
.recommendation-container .recommendation-video p:nth-child(2){
    font-size:15px;
    color:rgb(56, 54, 54);
    padding-bottom:2px;
}
.recommendation-container .recommendation-video p:nth-child(3){
    color:rgb(56, 54, 54);
    padding-bottom: 4px;
}

@media (max-width:500px) {
    .recommendation-container{
        max-width:100%;
        box-sizing: border-box;
        padding:10px 2px;
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .recommendation-container .recommendation-video{
        max-width:100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns:auto;
        margin:4px;
    }
    .recommendation-container .recommendation-video img{
        max-width:100%;
        width:100%;
        padding:0px;
    }
    
}