.Video-Container{
    max-width:100%;
    width:100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 65% 35%; 
    /* max-height:150vh;
    overflow-y: scroll; */
}


@media(max-width:950px){
    .Video-Container{
        max-width:100%;
        width:100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto;
    }
}